form { 
	margin: 0 auto; 
	width:250px;
	top: 50%;
}

.bordered {
	border-collapse: collapse;
	border: 1px solid black;
	font-size: 20px;
}

#login {
	position: absolute;
	width: 300px;
	height: 230px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -115px 0 0 -150px;
	background: white;
	border: 2px solid rgb(0, 77, 0);
	border-radius: 10px;
}

#loginLabel {
	font-size: 20px;
}

#loginInput {
	border-radius: 7px;
	border: 2px solid rgb(0, 77, 0);
	width: 100%;
	height: 30px;
	font-size: 30px;
}

#loginInput:focus {
	outline: none;
	box-shadow: 1px 0px 22px 1px rgb(0, 230, 0);
}

#loginButton {
	border-radius: 7px;
	border: 2px solid rgb(0, 77, 0);
	float: right;
	font-size: 20px;
	width: 100px;
	height: 40px;
	background-color: rgb(0, 77, 0);
	outline: none; 
}

#menu {
	margin: 0 auto;
	height: 200px;
}

button {
	border-radius: 5px;
	background-color: rgb(0, 77, 0);
	border-color: rgb(0, 77, 0);
	outline: none;
	text-align: center;
}

.menuButton {
	border-radius: 5px;
	background-color: rgb(0, 77, 0);
	border-color: rgb(0, 77, 0);
	width: 120px;
	height: 50px;
	outline: none;
	font-size: 15px;
}